.Footer {
  position: relative;
  bottom: 150px;
  @media (max-width: 400px) {
    .content {
      .texts {
        max-width: 200px;
        display: flex;
        flex-wrap: wrap;
        // flex-direction: column;
        gap: 15px;
      }
      .line {
        display: none;
      }
    }
  }
  .content {
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .holder {
        display: flex;
        flex-direction: column;
        gap: 30px;
        img {
          width: 218px;
          height: 52px;
        }
        p {
          color: rgb(0, 0, 0);

          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
        }
      }
      .grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
          color: rgb(0, 0, 0);
          font-size: 16px;
          font-weight: 600;
          line-height: 19px;
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 3px;
          color: rgb(255, 255, 255);
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
          padding: 13px 17px;
          border-radius: 30px;
          background: rgb(0, 0, 0);
        }
      }
    }
    .texts {
      padding: 45px 0;
      display: flex;
      gap: 40px;
      p {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
      }
    }
    .line {
      width: 1280px;
    }
    .inner {
      display: flex;
      justify-content: space-between;
      padding-top: 70px;
      .imgs {
        display: flex;
        gap: 10px;
        img {
          width: 22.75px;
          height: 22.75px;
        }
      }
    }
  }
}
